/* import Google font */
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&family=Over+the+Rainbow&family=Shadows+Into+Light&display=swap');


:root {
  --adidas-grey: hsl(337, 0%, 73%);
  --adidas-green: hsl(175, 66%, 76%);
  --adidas-purple: hsl(296, 36%, 40%);
  --adidas-dark-grey: hsl(337, 0%, 63%);
  --adidas-black: hsl(300, 0%, 15%);
  --adidas-dark-purple:hsl(276, 47%, 23%);
  --adidas-white: hsl(255, 45%, 98%);
  --nav-logo-initials-bg:#58f8f2;
  
  /* nav */
  --nav-background: hsl(276, 47%, 23%);
  /* carousel */
  --carousel-body-background:hsl(276, 47%, 23%);
  --carousel-body-color:#fff;
  /* connect */
  --connect-icon:hsl(276, 47%, 23%);
  /* footer */
  --footer-background:hsl(276, 47%, 23%);
  --footer-color:#fff;
}

body {
  font-family: 'Catamaran', sans-serif;
}

.navbar {
  background-color: var(--nav-background);
}

#navLogo {
  font-family: 'Over the Rainbow', cursive;
  /* font-family: 'Shadows Into Light', cursive; */
}

#navLogoInitials {
  /* background-color: var(--nav-logo-initials-bg); */
}

.carousel-item {
  height: 730px;
  text-align: center;
  /* background-color: transparent; */
}

.carousel-image1,
.carousel-image2,
.carousel-image3,
.carousel-image4,
.carousel-image5 {
  background-size:cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 450px;
}

.carousel-image1 {
  background-image: url("/assets/images/manageMeNow.jpg");
}

.carousel-image2 {
  background-image: url("/assets/images/bike2work.png");
}

.carousel-image3 {
  background-image: url("/assets/images/readmeGenerator.jpg");
}

.carousel-image4 {
  background-image: url("/assets/images/employeeTracker.jpg");
}

.carousel-image5 {
  background-image: url("/assets/images/teamProfileGenerator.jpg");
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color:var(--adidas-purple);
}

/* MAIN BODY */
.jumbotron {
  color: black;
  background-image: url("../images/glitchbpopacity78.jpg");
  background-position: center;
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

#connect {
  
}

.nowrap {
  white-space: nowrap;
}

.connect-icon {
  color: var(--connect-icon);
}

.carousel-body {
  background-color: var(--carousel-body-background);
  color: var(--carousel-body-color);
}

.footer {
  background-color: var(--footer-background);
  color: var(--footer-color);
}

/* RESUME PAGE */
#resume-frame {
  height: 90vh;
}

@media screen and (max-width:768px) {
  .carousel-item {
    height: 530px;
    text-align: center;
    /* background-color: transparent; */
  }
  
  .carousel-image1,
  .carousel-image2,
  .carousel-image3,
  .carousel-image4,
  .carousel-image5 {
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 250px;
  }
}