/* import Google font */
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&family=Over+the+Rainbow&family=Shadows+Into+Light&display=swap');


:root {
  --borders-backgrounds-green: #92cccd;
  --header-grey: #31343d;
  --body-whitesmoke: #eeeef6;
  --maintext-borders-darkslateblue: #445876;
  --work-contact-text-darkslategrey: #333540;

  --adidas-grey: hsl(337, 0%, 73%);
  --adidas-green: hsl(175, 66%, 76%);
  --adidas-purple: hsl(296, 36%, 40%);
  --adidas-dark-grey: hsl(337, 0%, 63%);
  --adidas-black: hsl(300, 0%, 15%);
  --adidas-dark-purple:hsl(276, 47%, 23%);
  --adidas-white: hsl(255, 45%, 98%);
  --border-radius-1: 8px;
  --box-shadow-1: 3px 3px 3px #333540;

  --nav-logo-initials-bg:#58f8f2;
}

body {
  font-family: 'Catamaran', sans-serif;
}

#navLogo {
  font-family: 'Over the Rainbow', cursive;
  /* font-family: 'Shadows Into Light', cursive; */
}

#navLogoInitials {
  background-color: var(--nav-logo-initials-bg);
}

.carousel-item {
  height: 730px;
  text-align: center;
  background-color: rgb(95, 40, 40);
}

.carousel-image1,
.carousel-image2,
.carousel-image3,
.carousel-image4,
.carousel-image5 {
  background-size:cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 500px;
}

.carousel-image1 {
  background-image: url("/assets/images/manageMeNow.jpg");
}

.carousel-image2 {
  background-image: url("/assets/images/bike2work.png");
}

.carousel-image3 {
  background-image: url("/assets/images/readmeGenerator.jpg");
}

.carousel-image4 {
  background-image: url("/assets/images/employeeTracker.jpg");
}

.carousel-image5 {
  background-image: url("/assets/images/teamProfileGenerator.jpg");
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color:var(--adidas-purple);
}

/* MAIN BODY */

#hero {
  display: flex;
  height: 400px;
  background-image: url("../images/glitchbpopacity78.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 25%;
  align-items: flex-end;
  justify-content: flex-end;
}

#connect {
  
}

/* PREVENT PHONE # FROM WRAPPING */
.nowrap {
  white-space: nowrap;
}

/* RESUME PAGE */

#resume-page-main {
  display: flex;
}

#resume-frame {
  width: 90%;
  height: 90vh;
  margin: 30px auto;
  border: 8px solid var(--maintext-borders-darkslateblue);
  border-radius: 7px;
}

#downloadPDF a {
  margin: 10px;
  padding: 16px 8px 3px 8px;
  color: var(--work-contact-text-darkslategrey);
  text-decoration: none;
  border-radius: 7px;
}

#downloadPDF a:hover {
  cursor: pointer;
  background-color: var(--borders-backgrounds-green);
  transition: 0.3s all ease;
}

footer {
  height: 80px;
  background-color: var(--borders-backgrounds-green);
  padding: 30px;
  clear: both;
  text-align: center;
}