@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --borders-backgrounds-green: #92cccd;
  --header-grey: #31343d;
  --body-whitesmoke: #eeeef6;
  --maintext-borders-darkslateblue: #445876;
  --work-contact-text-darkslategrey: #333540;

  --adidas-grey: hsl(337, 0%, 73%);
  --adidas-green: hsl(175, 66%, 76%);
  --adidas-purple: hsl(296, 36%, 40%);
  --adidas-dark-grey: hsl(337, 0%, 63%);
  --adidas-black: hsl(300, 0%, 15%);
  --adidas-dark-purple:hsl(276, 47%, 23%);
  --adidas-white: hsl(255, 45%, 98%);
  --border-radius-1: 8px;
  --box-shadow-1: 3px 3px 3px #333540;

}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
}

/* HEADER / NAV */

header {
  height: 70px;
  background-color: var(--header-grey);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header h1 a {
  position: absolute;
  left: 0px;
  top: 12px;
  padding: 0px 10px 0px 40px;
  font-size: 2em;
  color: var(--borders-backgrounds-green);
  font-weight: 600;
  text-decoration: none;
  text-transform: lowercase;
}

header h1:hover {
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  position: relative;
  right: 40px;
}

nav a {
  color: var(--body-whitesmoke);
  background-color: var(--header-grey);
  padding: 6px 9px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  margin: 5px;
  text-transform: lowercase;
}

nav a:hover {
  background-color: var(--maintext-borders-darkslateblue);
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 8px;
}

/* MAIN BODY */

.main-body {
  background-color: var(--body-whitesmoke);
}

h2 {
  font-size: 1.45rem;
  padding-bottom: 5px;
  font-weight: 600;
}

/* REMOVE NON-WRAPPED HEADINGS UNTIL NEEDED ON SMALL SCREENS */
.onelineheading {
  display: none;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

#hero {
  display: flex;
  height: 400px;
  width: 100%;
  background-image: url("../images/glitchbpopacity78.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 25%;
  align-items: flex-end;
  justify-content: flex-end;
}

#hero h3 {
  font-size: 1.75rem;
  background-color: var(--borders-backgrounds-green);
  margin: 0 55px 15px 0;
  padding: 0px 10px;
  color: var(--header-grey);
  font-weight: 600;
  text-transform: lowercase;
  border-radius: 7px;
}

.flex-container {
  display: flex;
  padding: 15px 5px;
}

/* FOR ALL SECTIONS, HEADING ON LEFT (TOP FOR SMALL SCREENS), MAIN CONTENT ON RIGHT (BOTTOM FOR SMALL SCREENS) */

.heading {
  display: flex;
  justify-content: flex-end;
  padding: 5px 15px 0px 15px;
  margin-left: 10px;
  flex: 1;
  text-align: right;
  color: var(--maintext-borders-darkslateblue);
  border-right: 4px solid var(--maintext-borders-darkslateblue);
  text-transform: lowercase;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px 20px;
  flex: 6;
}

/* ABOUT ME */

#aboutme {
  color: var(--maintext-borders-darkslateblue);
}

#aboutme p {
  text-align: left;
  margin: 10px 0 10px 0;
}

/* WORK */

#work {
  padding-bottom: 0px;
}

#work-grid-container-top {
  display: grid;
}

#work-grid-container-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#work-teamProfileGenerator {
  color: var(--work-contact-text-darkslategrey);
  position: relative;
  height: 400px;
  grid-template-columns: 1fr;
  margin: 10px;
  border: 6px solid var(--borders-backgrounds-green);
  background-image: url("../images/teamProfileGenerator-screenshot.png");
  border-radius: var(--border-radius-1);
  background-size: cover;
  box-shadow: var(--box-shadow-1);
}

#work-1 {
  color: var(--work-contact-text-darkslategrey);
  position: relative;
  height: 400px;
  grid-template-columns: 1fr;
  margin: 10px;
  border: 6px solid var(--borders-backgrounds-green);
  background-image: url("../images/weather-dashboard-screenshot.png");
  border-radius: var(--border-radius-1);
  background-size: cover;
  box-shadow: var(--box-shadow-1);
}

#work-1:hover, #work-teamProfileGenerator:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
  transition: 0.2s all ease;
}

.work-small {
  color: var(--work-contact-text-darkslategrey);
  height: 250px;
  margin: 10px;
  border: 6px solid var(--borders-backgrounds-green);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
}

.work-small:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
  transition: 0.2s all ease;
}

.work-text {
  font-size: 0.75rem;
  position: absolute;
  background: var(--borders-backgrounds-green);
  padding: 9px;
  bottom: 10px;
  left: -2px;
}

#work-2 {
  background-image: url("../images/javascript-fundamentals-quiz-screenshot.png");
}

#work-3 {
  background-image: url("../images/readme-generator-screenshot.png");
}

#work-4 {
  background-image: url("../images/bike2work-screenshot.png");
}

#work-5 {
  background-image: url("../images/password-generator-screenshot.png");
}

#repo-links {
  text-align: center;
  padding-top: 0px;
}

#repo-links h2 {
  margin: 15px auto 5px auto;
  text-decoration: underline;
}

#repo-links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 3em;
}

#repo-links a {
  margin: 10px;
  padding: 8px 8px 3px 8px;
  color: var(--work-contact-text-darkslategrey);
  text-decoration: none;
  border-radius: 7px;
}

#repo-links a:hover {
  cursor: pointer;
  background-color: var(--borders-backgrounds-green);
  transition: 0.3s all ease;
}

/* CONTACT */

#contactme ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 3em;
}

#contactme a {
  margin: 10px;
  padding: 16px 8px 3px 8px;
  color: var(--work-contact-text-darkslategrey);
  text-decoration: none;
  border-radius: 7px;
}

#contactme a:hover {
  cursor: pointer;
  background-color: var(--borders-backgrounds-green);
  transition: 0.3s all ease;
}

/* PREVENT PHONE # FROM WRAPPING */
.nowrap {
  white-space: nowrap;
}

/* RESUME PAGE */

#resume-page-main {
  display: flex;
}

#resume-frame {
  width: 90%;
  height: 90vh;
  margin: 30px auto;
  border: 8px solid var(--maintext-borders-darkslateblue);
  border-radius: 7px;
}

.main-content {
  text-align: center;
}

#downloadPDF a {
  margin: 10px;
  padding: 16px 8px 3px 8px;
  color: var(--work-contact-text-darkslategrey);
  text-decoration: none;
  border-radius: 7px;
}

#downloadPDF a:hover {
  cursor: pointer;
  background-color: var(--borders-backgrounds-green);
  transition: 0.3s all ease;
}

footer {
  height: 80px;
  background-color: var(--borders-backgrounds-green);
  padding: 30px;
  clear: both;
  text-align: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 769px) {
  /* MAKE THE NAV MOBILE FRIENDLY - BEGINNING */

  header {
    height: 200px;
  }

  nav ul {
    position: absolute;
    right: 40px;
    top: 15px;
    flex-direction: column;
    line-height: 2.625em;
    text-align: center;
  }

  nav a {
    border-bottom: none;
    /* border-radius: 5px; */
  }

  nav a:hover {
    background-color: var(--maintext-borders-darkslateblue);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  /* MAKE THE NAV MOBILE FRIENDLY - END */

  #hero h3 {
    font-size: 1.4rem;
  }
  .heading {
    justify-content: flex-start;
    border-right: none;
  }

  .heading h2 {
    border-bottom: 4px solid var(--maintext-borders-darkslateblue);
    margin-bottom: 1em;
  }

  #work-grid-container-bottom {
    grid-template-columns: 1fr;
  }

  .flex-container {
    flex-direction: column;
  }

  #contactme ul {
    flex-direction: column;
    line-height: 3.5em;
  }
}
@media only screen and (min-width: 770px) {
  #work-grid-container-bottom {
    grid-template-columns: 1fr 1fr;
  }

  .flex-container {
    flex-direction: row;
  }

  #contactme ul li {
    font-size: .75rem;
  }

}

@media only screen and (min-width: 900px) {
  .heading {
    flex: 1;
  }

  .heading h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 930px){
  #contactme ul li {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1350px) {
  #work-grid-container-bottom {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #repo-links ul {
    flex-direction: row;
  }

}